<p-toast></p-toast>
<!-- {{fileBase | json}} -->
<div class="ui-g-12" *ngIf="statusFile !== statusType.loaded">
  <p-fileUpload name="demo[]" customUpload="true" [showUploadButton]="false" chooseLabel="Seleccionar documento"
    (onClear)="onClear($event)" cancelLabel="Cancelar" (onRemove)="onClear($event)" (onSelect)="myUploader($event)"
    invalidFileSizeMessageSummary="{0}: el tamaño del archivo es invalido,"
    invalidFileSizeMessageDetail="maximo permitido es {0}"
    invalidFileTypeMessageSummary="{0}: el tipo de archivo es invalido," accept="application/pdf" multiple="false"
    invalidFileTypeMessageDetail="El tipo de archivo permitido es {0}," accept="application/pdf" multiple="false"
    maxFileSize="2000000">
  </p-fileUpload>

  <button *ngIf="statusFile === statusType.modifying" pButton type="button" label="Cancelar ediciión"
    icon="fa fa-backward" (click)="onClear($event)" class=".ui-button-war" style="float: right;margin-right: 3px;"></button>
  <button *ngIf="uploadFile" pButton type="button" label="Cargar" icon="fa fa-upload" (click)="uploadFileEvent()"
    class=".ui-button-success" style="float: right;"></button>
</div>
<div class="ui-g-12" *ngIf="statusFile === statusType.loaded">
  <button pButton type="button" icon="fa fa-search" title="ver archivo" (click)="viewFile()" class=".ui-button-success"
    style="margin-right: 5px;"></button>
  <button pButton type="button" icon="fa fa-edit" title="actualizar archivo" (click)="editFile()"
    class=".ui-button-success"></button>

</div>
